
 
  <!-- Footer -->
      <div class="ui inverted vertical footer  segment" id="footer">
          <div class="ui container">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://github.com/KayseMca" target="_blank"> Mohamed Abdillahi</a>
      </div>
</body>
</html>