
i.icon {
    font-size: 2em;
}

.container.main{
    margin-top: 7.0em; 
}

#delete{
    display: inline;
}

#desc{
    font-size: 17px;
    font-family: Georgia;
}
i.flag{
    font-size: 1.4em;
}
.message{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 5px;
    color: ghostwhite;
    font-weight: 600;
}

#footer{
    margin-top: 15px;
}